html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }

::-webkit-scrollbar { display: none }

body { margin: 0 }

a:hover { color: #FFBAF4; cursor: pointer }
a:active { color: blue }

#board xmp, #board .error,
#board .spaced, #board .error-message { margin: 0 0 16px 0; font-family: Droid Mono }

img, video { max-height: 256px; max-width: 642px; padding: 16px 14px; }

iframe { height: 315px; width: 576px; border: 1px solid #3A3A3A }

details { margin-right: 8px; outline: none }

#banner, #board, #footer {
    color: #E6E0B9;
    font-size: 12px;
    font-family: Droid Mono;
    outline-color: #4D774A }

#banner {
    cursor: default;
    background: #1A1A1A;
    padding: 4px 0 6px 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid #3A3A3A;
    position: fixed; right: 0; left: 0; top: 0;
    z-index: 2 }

#shell-links { position: absolute; left: 198px; }

#editor-links {
    left: 696px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }

#file-description { padding-right: 8px; outline: none }
#file-description:before { content: '# '; color: #3A3A3A }
#file-description:hover { cursor: text }
#file-description:focus { cursor: text }

.banner-link { font-style: normal; text-decoration: none }

#fade {
    background: linear-gradient(to left, #181818, rgba(0, 0, 0, 0));
    position: fixed; top: 0; right: 0;
    width: 50px; height: 26px }

#slate { height: 16px; max-width: 584px }

#footer { padding: 0 4px 2px 4px; width: 584px }

#spacer, #footer { cursor: text }

#clock { float: right }

.trace-counter:before, .slate-counter:before {
    content: '⇧'; margin: 0 -2px 0 -3px }

#editor {
    border-left: 1px solid #3A3A3A;
    position: fixed;
    top: 27px;
    bottom: 0;
    left: 584px;
    right: 0;
    z-index: 3;
    }

#board {
    outline-color: #4D774A;
    padding: 0 4px;
    margin: 27px 0 0 0;
    word-wrap: break-word;
    width: 584px }

#board p { margin: 16px 0; }

#board strong { font-weight: 100 }

#board h1, #board h2, #board h3,
#board h4, #board h5, #board h6 { font-size: 12px; font-weight: 100 }
#board h1, #board h2, #board h3 { color: #4DBDBD }
#board h1, #board h2, #board h3 { margin: 0 0 16px 0 }
#board h4, #board h5, #board h6 { margin: 0 }
#board h1 { border-bottom: 1px solid }
#board h2:before { color: #D88E5C; content: '::: ' }

#board ul {
    padding: 0px;
    list-style: none;
    margin: 0px 16px 16px 16px;
    text-indent: -1.2em }

#board ul ul { margin: 0 1px }

#board li { padding-left: 14px; text-indent: -13px }

#board li:before { color: #E18243; content: "▫ " }

#board blockquote { margin: 0 28px; color: #999; font-style: italic }

#board hr {
    border: 1px dashed #D88E5C;
    margin-bottom: 16px;
    margin-right: 7px; }

#board pre {
    width: 576px;
    padding-left: 28px;
    margin: 0 0 16px 0;
    font-family: Droid Mono; }

#board pre:hover {
    background: rgba(47, 75, 64, 0.28);
    cursor: pointer }

#board code { font-family: Droid Mono }

#board input[type=text], #board input[type=password],
#board input[type=submit], #board textarea, #board select, #board button {
    font-family: Droid Mono;
    width: 576px;
    margin-top: 4px;
    margin-bottom: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: #1A1A1A;
    border: 1px solid #333;
    color: white;
    font-size: 12px;
    padding: 7px;
    padding-left: 6px }

#board input[type=submit], #board button
{ width: auto; margin: 0; margin-bottom: 16px }

#board input[type=checkbox] { margin: 0 1px 0 0 }

#board button, #board input[type=submit] { display: inline }

#board textarea { resize: none; height: 128px }

#board button, #board input { color: #D88E5C }

#board button:hover, #board input[type=submit]:hover {
    color: white;
    background: #4D774A;
    border: 1px solid #4D774A;
    cursor: pointer; }

#board input[type=text], #board textarea { color: #E6E0B9 }

    /* Stacktrace Elements */

#board .error { color: #999999 }

#board .error-missing-char { border-bottom: 1px dotted #D88E5C }

#board .error-input-cs { color: #999999; cursor: pointer }

#board .error-compiled-js {
    color: #4D774A;
    display: none;
    box-shadow: inset 0 1px 12px #000;
    border-bottom: 1px solid #222;
    border-radius: 4px;
    padding: 6px 7px 9px 7px;
    }

#board .input-cs { color: #4DBDBD; cursor: pointer }

#board .compiled-js {
    color: #4D774A;
    display: none;
    box-shadow: inset 0 1px 12px #000;
    border-bottom: 1px solid #222;
    border-radius: 4px;
    padding: 6px 7px 9px 7px;
    position: relative; top: -16px;
    margin-bottom: 0;
    }

.cut:before { content: '|' }

#board .unspaced { margin: -16px 0 16px 0 }

#board kbd {
    padding: 2px 6px;
    border-radius: 3px;
    border: 1px solid #674912;
    border-top: 1px solid #86714A;
    border-bottom: 1px solid #422F0B }

#cover {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 4;
    }

#viewer {
    display: none;
    overflow-y: scroll;
    background-color: #FDFDFD;
    position: relative;
    top: 9px;
    padding: 32px 64px 64px;
    width: 738px;
    margin: auto;
    z-index: 4;
    border: 7px solid #777;
    box-shadow: 0 0 30px 10px #000;
    }

#viewer h1, #viewer h2, #viewer h3, #viewer pre {
    padding: 8px 16px;
    margin: 16px;
    }

#viewer h1, #viewer h2, #viewer h3 {
    color: #222;
    font-family: Times New Roman;
    font-weight: 100;
    }

#viewer h1, #viewer pre {
    background: white;
    border: 1px solid #777;
    box-shadow: 0 2px 8px -4px #730000;
    color: #4A0000;
    }

#viewer h2 {
    background: white;
    padding: 4px 16px;
    border: 1px solid #999;
    box-shadow: 0 3px 4px -4px;
    margin-top: 64px;
    }

#viewer a {
    color: #143E98;
    }

#viewer a:hover, #viewer a:active { color: #3700FF }

#viewer code {
    font-size: 16px;
    color: #840000;
    }

#viewer pre > code {
    font-size: 14px;
    color: black;
    }

#viewer pre {
    box-shadow: inset 0 1px 8px -4px;
    background: #FCFCFC;
    }

#viewer p, #viewer ul {
    margin: 16px 32px;
    font-size: 18px;
    font-family: Times;
    color: #1B1B1B;
    }

#viewer p {
    }

.bgcolor-main,
    body,
    #editor { background: #1A1816 }

.bgcolor-bar,
    iframe,
    .banner { background: #141414 }

.color-object { color: #CC8989 }

.color-string,
    a,
    #filename,
    #file-description:focus,
    #file-description:hover { color: #93A538}

.color-operator,
    blockquote:before,
    blockquote:after,
    #board strong,
    #board input[type=password],
    #board input[type=submit],
    #board .error-message,
    .cut:before { color: #D88E5C }

.color-code,
    #board code { color: #D0AA17 }

.color-clock,
    #banner,
    #footer,
    #file-description,
    .trace-counter,
    .slate-counter { color: #4D774A }
